.strike{
  text-decoration:
  line-through
}
.unstrike{
  text-decoration:black
}

body{
  background: rgb(1, 46, 65);
  color:rgb(167, 243, 243);
  
}
h1{
  font-family: monospace;
}
button{
  font-family: monospace;
  background: rgba(33, 73, 75, 0.788);
  font-weight: bolder;
}
input{
  font-family: monospace;
 
  border-right: darkcyan;
  border-left: darkcyan;
  border-top: darkcyan;
  border-bottom: darkgray;
}