body {
  background-color: #C9C9C9;
  color: #1F2421;
  font-family: Arial, Helvetica, sans-serif;

  max-width: 90%;
  margin: 0 auto;
}
main {
  max-width: 80%;
  float: left;
  padding-left: 160px;
  padding-right: 0px;
}
.git-picture{
    max-width: 200px;
  max-height: 100px;
  border-radius: 3px;
   display:block;
 margin-left:auto;
  margin-right:auto;
}
.profile-picture {
  max-width: 200px;
  max-height: 100px;
  border-radius: 3px;
  display:block;
 margin-left:auto;
  margin-right:auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 150px;
  background-color: #A3A3A3;
  height: 100%;
  position:fixed;
  overflow: auto;
  
}

li a {
  display: block;
  color: #424242;
  padding: 16px 16px;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  
}

/* Change the link color on hover */
li a:hover {
  background-color: rgba(250, 249, 243, 0.87);
  color: #1F2421;
}
.active {
  background-color:#C9C9C9;
  color: rgb(37, 37, 37);
}
h1 {
  color: #1F2421;
  padding-left: 2%;
  padding-right: 0px;

}
.git{
 float:right;
}
a {
  padding: 0%;
  word-wrap: normal;
  text-decoration: none;
color: #424242;
}
a:hover{
  color: rgb(52, 145, 189);
  font-weight: bolder ;
}
.checklist{
  /* border-top-width: 10px;
  border: 10px;
  border-color:#424242;
  border-block: 10px;
  border-style: solid;
  border-radius: 6px; */
  width:300px;
  display:block;
 margin-left:auto;
  margin-right:auto;
  
}
/* p{
  background-color: #A3A3A3;
} */
.gitlink{
padding-top: 0px;
padding-bottom: 0px;
margin-top: 0px;


}