body {
  background-color: #C9C9C9;
  color: #1F2421;
  font-family:  'Inconsolata', monospace;

  max-width: 90%;
  margin: 0 auto;
 }
 main{
   display:flex;
 }
 
 /*
main {
  max-width: 80%;
  float: left;
  padding-left: 160px;
  padding-right: 0px;
} */
.git-picture{
    max-width: 200px;
  max-height: 100px;
  border-radius: 3px;
   display:block;
 margin-left:auto;
  margin-right:auto;
}
.profile-picture {
  max-width: 200px;
  max-height: 100px;
  border-radius: 3px;
  display:block;
 margin-left:auto;
  margin-right:auto;
}
nav ul {
  list-style-type: none;
  margin-right:20px;
  padding: 0;
  width: 150px;
  background-color: #A3A3A3;
  height: 100%;
  /* position:fixed; */
  overflow: auto;
  
}

nav li a {
  display: block;
  color: #424242;
  padding: 16px 16px;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  
}

/* Change the link color on hover */
nav li a:hover {
  background-color: rgba(250, 249, 243, 0.87);
  color: #1F2421;
}
.active {
  background-color:#C9C9C9;
  color: rgb(37, 37, 37);
}
h1 {
  color: #1F2421;
  padding-left: 2%;
  padding-right: 0px;

}
.git{
 float:right;
}
a {
  padding: 0%;
  word-wrap: normal;
  text-decoration: none;
color: #424242;
}
a:hover{
  color: rgb(52, 145, 189);
  font-weight: bolder ;
}
.gitlink{
padding-top: 0px;
padding-bottom: 0px;
margin-top: 0px;


}
/* Style the buttons that are used to open and close the accordion panel */
/* .accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
} */

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* .active, .accordion:hover {
  background-color: #ccc;
} */

/* Style the accordion panel. Note: hidden by default */
/* .panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
} */
/* .accordion:after { */
  /* content: '\02795';  */
  /* Unicode character for "plus" sign (+) */
  /* font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
} */

/* .active:after {
  content: "\2796";  */
  /* Unicode character for "minus" sign (-) */
/* } */
